@()(implicit request: play.api.mvc.RequestHeader)
@main("DownEz-Add Content") {
<div id="search-results"></div>
    <u><h1>Add Content</h1></u>
    <form id="content-form" enctype="multipart/form-data" method="POST">
        <label for="content-type">Content Type:</label><br>
        <select id="content-type" name="content-type">
            <option value="imagen">Imagen</option>
            <option value="video">Video</option>
            <option value="audio">Audio</option>
        </select><br>

        <div class="file-upload-container">
            <label for="fileInput" class="custom-file-label">Seleccionar archivo</label>
            <input type="file" id="fileInput" name="file" required style="display: none;" />
            
            <div id="preview-container"></div>
            <span id="file-name">Ningún archivo seleccionado</span>
        </div>

        <label for="content-title">Title:</label><br>
        <input type="text" id="content-title" name="content-title"><br>

        <label for="content-author">Author:</label><br>
        <input type="text" id="content-author" name="content-author"><br>

        <label for="content-price">Price:</label><br>
        <input type="text" id="content-price" name="content-price"><br>

        <label for="content-category">Category:</label><br>
        <select id="category-select" name="content-category">
            <option value="">Selecciona una Categoría</option>
        </select>
        
        <div id="category-container">
            <button type="button" id="btn-agregar-category">Agregar Categoría</button>
            <div id="form-agregar-category" style="display: none; margin-top: 10px;">
                <label for="content-category">Si no seleciona ninguna categoria, se creará como categoria raiz.</label><br>
                <input type="text" id="category-title" placeholder="Título de Categoria"><br>
                <button type="button" id="btn-guardar-category">Guardar Categoría</button>
            </div>
        </div>
        <br>
        <label for="content-description">Description:</label><br>
        <textarea id="content-description" name="content-description"></textarea><br>

        <div id="error-message" class="error"></div>

        <button type="submit" id="send-button">Send</button><br>
    </form>
}
