@()(implicit request: play.api.mvc.RequestHeader)
@main("LP-Studios - Home") {
  <!--<u><h1>YouEz</h1></u>-->
  <div class="content-buttons">
      <u><h1>TOP MÁS DESCARGADO</h1></u>
      <button id='imagen-top'>Top Imagenes</button>
      <button id='audio-top'>Top Audios</button>
      <button id='video-top'>Top Videos</button>
      <label for="content-filter">Filtrar por:</label>
      <select id="content-filter">
          <option value="descargas">Descargas</option>
          <option value="puntuaciones">Puntuaciones</option>
      </select>
  </div>

  <div class="container">
  </div>
}
