@()(implicit request: play.api.mvc.RequestHeader)
@main("YouEz - Content") {
<main>
        <div id="search-results"></div>
        <div class="user-account-container">
            <ul id="user-list">
                    <li class="clickable-item">Perfil</li>
                        <div id="user-info">
                            <h2 id="username">Cargando...</h2>
                            <p id="email">Email: cargando...</p>
                            <p id="saldo">saldo: cargando...</p>
                            <p id="estado">estado: cargando...</p>
                        </div>
                        <li class="clickable-item">Historial Compras</li>        
                        <div id="downloads-section">
                            <h3>Contenidos Comprados</h3>
                            <ul id="downloads-list">
                                <li>Cargando contenidos...</li>
                            </ul>
                        </div>

                    <li class="clickable-item">Historial ultimas descargas</li>        
                        <div id="downloads-section">
                            <h3>Contenidos descargados</h3>
                            <ul id="downloads-list-time">
                                <li>Cargando contenidos...</li>
                            </ul>
                        </div>
                        
                    <li class="clickable-item">Historial recargas</li>
                        <div id="recargas-section">
                            <h3>Recargas solicitadas</h3>
                            <ul id="recargas-list">
                                <li>Cargando contenidos...</li>
                            </ul>
                        </div>
            </ul>
        </div>
    </main>
}
