# Scala / SBT Output
target/
project/project/
project/target/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/

# BSP / Bloop / Metals
.bsp/
.bloop/
.metals/

# Play Framework
RUNNING_PID

# VSCode
.vscode/

# Log files
logs/
*.log

# OS files
.DS_Store
Thumbs.db
