# ---------------------------------------
# Scala / SBT Output
# ---------------------------------------
target/
target/bg-jobs/
project/project/
project/target/

# ---------------------------------------
# Play Framework
# ---------------------------------------
RUNNING_PID
public/target/
public/generated/

# ---------------------------------------
# Plugins / Package Managers
# ---------------------------------------
node_modules/

# ---------------------------------------
# IDEs
# ---------------------------------------
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# ---------------------------------------
# BSP / Bloop / Metals
# ---------------------------------------
.bsp/
.bloop/
.metals/

# ---------------------------------------
# Log files
# ---------------------------------------
logs/
*.log

# ---------------------------------------
# OS files
# ---------------------------------------
.DS_Store
Thumbs.db
