@(title: String)(content: Html)(implicit request: play.api.mvc.RequestHeader)

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/fearofgod.css")'>

  </head>
  <script src='@routes.Assets.versioned("javascripts/reveal.js")'></script>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="@routes.ProductsController.list.url">LP Shop</a>

        <div class="ms-auto d-flex">
          <!-- Si deseas, puedes poner íconos o separadores -->
          <a class="btn btn-outline-light me-2" href="@routes.AuthController.loginForm">Login</a>
          <a class="btn btn-outline-light me-2" href="@routes.AuthController.registerForm">Registro</a>
          <a class="btn btn-outline-light me-2" href="@routes.AuthController.account">Mi cuenta</a>
          <a class="btn btn-outline-light me-2" href="@routes.AuthController.logout">Salir</a>
          <a class="btn btn-warning text-dark" href="@routes.ProductsController.viewCart.url">Carrito 🛒</a>
        </div>
      </div>
    </nav>

    <main class="container my-4">
      @for((key, msg) <- request.flash.data) {
        <div class="alert alert-success">@msg</div>
      }
      @content
    </main>
  </body>
</html>