@(p: models.Product)(implicit req: play.api.mvc.MessagesRequestHeader)
@main(p.name) {
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="@p.imageUrl" alt="@p.name">
    </div>
    <div class="col-md-6">
      <h2>@p.name</h2>
      <p>@p.description</p>
      <h4>S/ @p.price</h4>
      <form action="@routes.ProductsController.addToCart(p.id)" method="post">
        <button class="btn btn-success" type="submit">Agregar al carrito</button>
      </form>
    </div>
  </div>
}
